img {
  width: 50%;
}

h1 {
  font-family: fantasy;
  color: cornflowerblue;
}

div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:coral;
    padding:8px;
}